<head>
   <link rel='stylesheet' href="" />
</head>


<h1>Login</h1>
<form method="post" enctype='multipart/form-data'>
    <div>
        <label for="email">email</label>
        <input 
        type="email" 
        name="email" 
        id="email" 
        required>

        <label for="password">password</label>
        <input
        type="password"
        name="password"
        id="password"
        required>
    </div>
    <button type="submit">Login</button>    
</form>

<a href="./register">Register</a>